:root {
  --white: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);

  --dashboard-dark: #0f2431;
  --dashboard-light: #133040;
  --green: #d8db31;
}

/* General styles */
.secondTitle {
  font-size: 3rem;
  text-align: center;
  padding: 4rem 0 2.5rem 0;
  color: var(--Slate-900);
}

i {
  font-size: 35px;
  color: var(--green);
}

/* navbar */
.navbar {
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: var(--Slate-900);
}

.nav-link:hover {
  border-bottom: 3px solid var(--green);
}

/* Inicio */
.logo-img {
  width: 60px;
  height: auto;
}


.inicio {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 31rem;
  position: relative;
  overflow: hidden;
}

.sobra-cero-img{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  height: auto;
  z-index: -1;
  opacity: 0.1;  
}

.title {
  font-size: 100px;
  color: var(--Slate-900);
}

.subTitle {
  color: var(--Slate-700);
}

.description {
  width: 50%;
  text-align: center;
  color: var(--Slate-500);
}

.btnStarted {
  margin-top: 1rem;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--green);
  border: none;
  color: var(--Slate-900);
  font-weight: 600;
}

.btnStarted:hover {
  background-color: var(--Slate-900);
  color: var(--green);
}

/* Dashboard */
.dashboard-section {
  border-radius: 5px;
  background-color: var(--dashboard-dark);
  margin-top: 20px;
  padding-bottom: 40px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-title {
  color: var(--white);
}

.totals {
  width: 80%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: var(--Slate-300);
  background-color: var(--dashboard-light);
  padding: 20px;
  border-top: 4px solid var(--green);
  border-radius: 5px;
  width: 15rem;
}

.quantity {
  color: var(--green);
  font-size: 2rem;
  font-weight: 700;
}

.expenses {
  background-color: var(--dashboard-light);
  color: var(--Slate-300);
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  height: 15rem;
  border-top: 4px solid var(--green);
  border-radius: 5px;
  width: 80%;
}

/* advices */
.advices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

}

.card-advices {
  background-color: var(--Slate-900);
  height: 15rem;
  padding: 1rem;
  border-radius: 5px;
}

.card-title {
  color: var(--Slate-100);
}

.card-body {
  color: var(--Slate-300);
}

/* registry */
.card {
  height: 100%;
}

.registry-title {
  color: var(--Slate-700);
}

.registry-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.inputs-registry {
  display: flex;
  flex-direction: column;
}

.input-registry {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--Slate-700);
  color: var(--Slate-700);
  border-radius: 5px;
}

.input-registry:focus {
  outline: none;
  border: 1px solid var(--Slate-900);
}

.btn:hover {
  background-color: var(--Slate-900);
  color: var(--green);
}

.btn:active, .btn:focus {
  background-color: var(--Slate-900) !important;
  color: var(--green) !important;
}

.btn {
  background-color: var(--green);
  color: var(--Slate-900);
  font-weight: 600;
  border: none;
  border-radius: 20px;
}


/* footer */
footer {
  padding: 2.5rem;
  margin-top: 1rem;
  text-align: center;
  background-color: var(--Slate-900);
  color: var(--white);
}

@media (max-width: 768px) {
  .inicio {
    height: 25rem;
  }

  .title {
    font-size: 3rem;
  }

  .subTitle {
    font-size: 1.5rem;
  }

  .description {
    width: 100%;
  }

  .totals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .total {
    width: 100%;
    margin-bottom: 20px;
  }

  .sobra-cero-img {
    display: none;
  }
}
